<div class="list_data">

  <div class="clearfix">
    <h1>Relaciones entre pinos</h1>
  </div>


  <div class="panel panel-black">
    <form class="navbar-form" name="form">
      <table class="table table-striped center-vertical">
        <thead>
        <tr>
          <th>Participante</th>
          <th></th>
          <th>Agasajado</th>
          <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="posibleRelation in posibleRelations">
          <td>{{posibleRelation.giver.fullName}}</td>
          <td>
            <small>le regala a</small>
          </td>
          <td>
            <select
              ng-model="posibleRelation.receiver"
              ng-options="posibleReceiver as posibleReceiver.fullName for posibleReceiver in posibleRelation.posibleReceivers track by posibleReceiver.id">
            </select>
          </td>
          <td>
            <a class="btn btn-sm btn-success"
               ng-click="update(posibleRelation.giver, posibleRelation.receiver)"
               ng-disabled="!posibleRelation.receiver"
               title="Actualizar">
              <span class="glyphicon glyphicon-ok"></span>
            </a>
            <a class="btn btn-sm btn-danger"
               ng-click="delete(posibleRelation.giver)"
               title="Borrar">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          </td>
        </tr>
        </tbody>
      </table><a class="btn btn-success pull-right"
         ng-click="auto()">
        <span class="glyphicon glyphicon-random"></span>
        Asignar auto<i>magica</i>mente
      </a>
    </form>
  </div>

  <div class="clearfix">
    <h1>Relaciones fijadas</h1>
    <p>No pueden cambiarse porque ya paso el cumpleaños, o porque falta menos de un mes para el mismo</p>
  </div>
  <div class="panel panel-black">
    <form class="navbar-form" name="form" ng-submit="ok()">
      <table class="table table-striped">
        <thead>
        <tr>
          <th colspan="2">Participante</th>
          <th colspan="2">Agasajado</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="relation in inmutableRelations">
          <td>{{relation.giftGiver.fullName}}</td>
          <td>
            <small>es amig@ invisible de </small>
          </td>
          <td>{{relation.giftReceiver.fullName}}</td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>

</div>

