<div class="list_data">

  <div class="clearfix">
    <h1>Relaciones entre pinos</h1>
  </div>

  <div class="panel panel-black" style="width: fit-content; width: -moz-fit-content">
    <form class="navbar-form" name="form">
      <table class="table table-striped center-vertical">
        <thead>
        <tr>
          <th>Participante</th>
          <th>Cumple</th>
          <th>Pino que le regala</th>
          <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="posibleRelation in posibleRelations">
          <td>{{posibleRelation.receiver.fullName}}</td>
          <td>{{posibleRelation.receiver.dateOfBirth | date: 'dd/MM'}}</td>
          <td>
            <select
              style="width: 12vw"
              ng-model="posibleRelation.giver"
              ng-click="updateRelation(posibleRelation)"
              ng-change="update(posibleRelation.giver, posibleRelation.receiver)"
              ng-options="posibleGiver as posibleGiver.fullName for posibleGiver in posibleRelation.possibleGivers track by posibleGiver.id">
            </select>
          </td>
          <td>
            <button class="btn btn-sm btn-magic"
                    ng-disabled="noPossibilities(posibleRelation)"
                    ng-click="autoAssignPine(posibleRelation.receiver, posibleRelation.possibleGivers)"
                    title="Autoasignar">
              <span class="glyphicon glyphicon-random"></span>
            </button>
            <button class="btn btn-sm btn-danger"
                    ng-click="delete(posibleRelation.giver)"
                    ng-disabled="!posibleRelation.giver"
                    title="Borrar">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="btn btn-sm btn-primary"
                    ng-click="lock(posibleRelation.giver, posibleRelation.receiver)"
                    ng-disabled="!posibleRelation.giver"
                    title="Fijar">
              <span class="glyphicon glyphicon-lock"></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>

  <div class="clearfix">
    <h1>Relaciones fijadas</h1>
    <p>No pueden cambiarse porque ya paso el cumpleaños, o porque falta menos de dos meses para el mismo</p>
  </div>
  <div class="panel panel-black">
    <form class="navbar-form" name="form" ng-submit="ok()">
      <table class="table table-striped">
        <thead>
        <tr>
          <th colspan="2">Participante</th>
          <th colspan="2">Agasajado</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="relation in inmutableRelations">
          <td>{{relation.giftGiver.fullName}}</td>
          <td>
            <small>es amig@ invisible de</small>
          </td>
          <td>{{relation.giftReceiver.fullName}}</td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>

</div>

