<script type="text/ng-template" id="editModalWorker.html">
  <div class="modal-header">
    <h3 class="modal-title">Editando a un Pino</h3>
  </div>
  <div class="modal-body">
    <label class="control-label col-md-4" for="date">Pistas </label>
    <input type="text" ng-model="worker.fullName">
  </div>
  <div class="modal-body">
    <label class="control-label col-md-4" for="date">Email del Pino: </label>
    <input type="text" ng-model="worker.eMail">
  </div>
  <div class="modal-body">
    <div class="field">
      <label class="control-label col-md-4" for="date">Fecha de nacimiento: </label>
      <p class="input-group">
        <input id="date" required type="text" class="form-control" datepicker-popup="dd.MM.yyyy"
               ng-model="worker.dateOfBirth" is-open="opened"/>
        <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                  class="glyphicon glyphicon-calendar"></i></button>
              </span>
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-transparent" ng-click="cancel()">Cancelar</button>
    <button class="btn btn-success" ng-click="ok()" ng-enter="ok();">OK</button>
  </div>
</script>

<div class="list_data">
  <button class="btn btn-success pull-right" ng-click="assignation()">Arriesgar!</button>
  <h1>Pistas de tu pino invisible</h1>
  <div class="panel panel-black">
    <ul class="table table-striped">
      
      <li><h3>  Tengo un cuchillo </h3></li>
        

    </ul>
  </div>
</div>


<div class="list_data">
  <h1>Tus pistas</h1>
  <div class="panel panel-black">
    <ul class="table table-striped">
      
      
        <li><h3>  No soy de Teespring </h3></li>
        <li> <h3> No soy Joaco </h3></li>
        
              
    </ul>
  </div>
  <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#add_worker" aria-expanded="false"
        aria-controls="add_worker" id="add_worker_button">
  Agregar pista
</button>
</div>


