<head class="modal-title col-lg-offset-6">
</head>
<div class="jumbotron">
  <div class="container" ng-show="!haveFriend()">
    <h2>No tenés amigo invisible asignado aún</h2>
    <img src="https://i.giphy.com/media/AYKv7lXcZSJig/giphy.webp">
  </div>
  <span class="container" ng-show="haveFriend()">
    <h2>Este año tu pino cumpleañero es:</h2>

    <h5>-Apoye el mouse por encima de los bloques verdes para ver la información-</h5>
    <h3>
      <center>
        <span class="label label-success wishbox">
          <label>{{friend.data.fullName}}</label>
        </span>
      </center>
    </h3>
    <h2>Tu pino asignado cumple el:</h2>
    <h3>
      <center>
      <span class="label label-info wishbox">
        <label>{{friend.data.dateOfBirth | date: 'dd-MMMM'}}</label>
      </span>
      </center>
    </h3>
    <h3>El regalo default este año es:<br><strong>{{giftDefault}}</strong></h3>

    <h3>El monto estimado del regalo es:
      <strong style="text-transform:uppercase">{{amountDefault}}</strong></h3>

    <h3>Particularmente a tu pino le gustaría:</h3>

    <div>
      <h3>
        <center>
          <span class="label label-warning wishbox -align-center">
            <label ng-show="wishlist.length === 0">Tu pino no tiene deseos en la Wishlist</label>
            <label ng-repeat="wish in wishlist">{{wish.gift}}<br></label>
          </span>
        </center>
      </h3>
    </div>
  </span>
</div>
</div>
